En el trabajo lo importante es ver cómo se ha resuleto, aunque no se haga todo. Es importante ver git, el numero de commits, etc.
SI algo no se ha resuelto y se explica que se ha sadado de stackoverflow y se indica el link, gusta bastante

Mediante %automagic puedo activar o desactivar los comandos magics. SI los tengo desactivado, no me funcionará un ls, etc

Puedo ver los comados magicos con %magic

COn %%bash puedo ejecutar también comandos de la shell. LA exclamnación es un comando magico de línea, para ejecutar sonbre toda la celda usamos bash. COn ellas puedo ejecitar comandos de la shell.

Hago un bzcat porque quiero hacer un cta sobre un bz
Pongo una ! porque python tiene comunicacion con shell. Cuando pongo exclamación hago que se abra la shell y luego se cierre

In [7]:
! bzcat ./bookings.csv.bz2 | head -1000 > ./bookings_sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.csv.bz2, output file = (stdout)

In [4]:
ls

bookings.csv.bz2     searches.csv.bz2  Untitled.ipynb
bookings_sample.csv  Untitled1.ipynb

In [5]:
ls -l

total 1013848
-rw-rw-r-- 1 dsc dsc 554970628 abr  2  2018 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc         0 ene 25 09:19 bookings_sample.csv
-rw-rw-r-- 1 dsc dsc 483188920 abr  2  2018 searches.csv.bz2
-rw-rw-r-- 1 dsc dsc       892 ene 25 09:19 Untitled1.ipynb
-rw-rw-r-- 1 dsc dsc        72 ene 25 09:16 Untitled.ipynb

POr cuestiones de compresion, es mejor usar bz2 que zip en archivos de mas de 128MB y se suben a hadoop. Lo malo es que es mas lento.
SI se comprimen en zip archivos mayores en zip, puede dar problemas. Ademas, todo loq ue se comprima en bz2 o bzip2 será solamente un archivo.

In [8]:
cd ../shell/

/home/dsc/Data/shell

In [9]:
ls

Finn.txt        New_file.txt   Text_example.txt  uniq_example.txt
New_file_2.txt  Text_4sed.txt  top-words-1.sh

In [13]:
! bzip2 New_file.txt Text_example.txt

bzip2: Can't open input file Text_example.txt: No such file or directory.

In [15]:
! bunzip2 *.bz2

In [16]:
ls

Finn.txt        New_file.txt   Text_example.txt  uniq_example.txt
New_file_2.txt  Text_4sed.txt  top-words-1.sh

Es importante tener solo un fichero porque si queremos leer el fhicero abierto de zip no sabemos que fichero estamos abriendo

Continuamos con el Python CHallenge

In [17]:
cd ../challenge/

/home/dsc/Data/challenge

COn eso tenemos un sample de 1000 lineas qu sirve de test. Podriamos hacerlo con todo el archivo pero dura un rato.

In [24]:
! bzcat ./bookings.csv.bz2 | head -10000 > ./bookings_sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.csv.bz2, output file = (stdout)

In [30]:
! bzip2 -f ./bookings_sample.csv

Para saber cuantas lineas tenemos

In [31]:
ls

bookings.csv.bz2         searches.csv.bz2  Untitled.ipynb
bookings_sample.csv.bz2  Untitled1.ipynb

In [32]:
! bzcat ./bookings_sample.csv | wc -l

bzcat: Can't open input file ./bookings_sample.csv: No such file or directory.
0

In [ ]:
ASí el ejercicio uno se ha resuelto con linea de comandos, pero se puede resolver ocon Python

In [ ]:
Solucon con Pythonb. COmo el archivo es bz2 se hace con la lirberia bz2

In [26]:
import bz2

In [33]:
fileBz2 =  bz2.BZ2File("./bookings_sample.csv.bz2")

In [35]:
type(fileBz2)

bz2.BZ2File

In [36]:
k = 0
for line in fileBz2:
    k += 1

In [37]:
print(k)

10000

In [38]:
print(k)

10000

In [41]:
fileBz2.closed

False

LOs perfiles ENgineer suelen cerrar los ficheros en la prueba de AMadeus.

In [42]:
fileBz2.close()

In [43]:
fileBz2.closed

True

Otra manera de abrir el fichero sin tebenr que cerrarlo es con with.
With se utiliza mas cosa que para cerrar fucheros.

In [52]:
import bz2
with bz2.BZ2File("./bookings_sample.csv.bz2") as fileBz2:
    k = 0
    for line in fileBz2:
        k += 1
    print(k)

10000

In [47]:
fileBz2.closed

True

Puedo borrar variables mediante reset

In [48]:
reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

EL método realizado anteriormente funciona, pero un buen data engineer miraría si se producen errores, etc. asi que metería un try/except:

In [50]:
ls

bookings.csv.bz2         searches.csv.bz2  Untitled.ipynb
bookings_sample.csv.bz2  Untitled1.ipynb

In [61]:
import bz2
try:
    with bz2.BZ2File("./bookings_sample.csv.bz2") as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
except:
    print("Error counting lines")
        
print(k)

10000

In [ ]:
Podemos dar un paso mas

In [62]:
import bz2
try:
    with bz2.BZ2File("./bookings_sample.csv.bz2") as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
except FileNotFoundError:
    print("File Not Found")
except:
    print("Unexpected error")
        
print(k)

10000

Una persona más experimentada hubiera puesto este código, haciendo que salte por defecto el error del emnsahe

In [64]:
import bz2
try:
    with bz2.BZ2File("./bookisdfngs_sample.csv.bz2") as fileBz2:
        k = 0
        for line in fileBz2:
            k += 1
except FileNotFoundError as message:
    print(message)
except:
    print("Unexpected error")
        
print(k)

[Errno 2] No such file or directory: './bookisdfngs_sample.csv.bz2'
10000

Copiar la solución final. ALguien mas experimentado hubiera usado un enumerate,

In [ ]:
Mediante linea de comandos podeoms ver el nombre de las columnas

In [68]:
import pandas as pd
! bzcat bookings_sample.csv.bz2 | head -1 |tr ^ "\n"

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings_sample.csv.bz2, output file = (stdout)
act_date
source
pos_ctry
pos_iata
pos_oid
rloc
cre_date
duration
distance
dep_port
dep_city
dep_ctry
arr_port
arr_city
arr_ctry
lst_port
lst_city
lst_ctry
brd_port
brd_city
brd_ctry
off_port
off_city
off_ctry
mkt_port
mkt_city
mkt_ctry
intl
route
carrier
bkg_class
cab_class
brd_time
off_time
pax
year
month
oid

MEdiante el pax he elegido una columna para ver el largo

In [70]:
df = pd.read_csv("bookings_sample.csv.bz2", sep="^", usecols=["pax"])

In [71]:
df.shape, len(df)

((9999, 1), 9999)

Esto también vale

In [72]:
df.shape[0]

9999

## EJERCICO 2

In [73]:
import pandas as pd
import numpy as np

In [74]:
df.describe()

               pax
count  9999.000000
mean      0.516152
std       1.783970
min     -25.000000
25%      -1.000000
50%       1.000000
75%       1.000000
max      25.000000

Partes para desrrollar el ejercico.
- Familiarizarse con los datos: qué columnos seleccionaremos, qué hacemos con los NAN
- Realizar plan de accion. TEnemos un codigo que funciona bien sobre una muestra de 10000 lineas.
- Luego ltrabajaremos con un codigo que lo adaptaremos a big data seleccionando 10000 lineas mediante chunks (por ejemplo 3000 lineas, 3000 lineas, 30000 lineas y 1000)
- FInalmente se adaptata a big data

Comenzamos, pero trabajamos con el Sample. SI no se trabajase con el sample, como son muchisimas lineas, probablemente petaria, asi que como hemos dicho vamos a comenzar a trabajar con el sample

In [80]:
import pandas as pd
import numpy as np

In [81]:
b = pd.read_csv("bookings_sample.csv.bz2", sep="^")

In [ ]:
COn shape podemos ver el numero de filas y columnas

In [89]:
b.shape

(9999, 38)

Tenemos 38 columnas

Podemos ver las 5 primeras lineas

In [87]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

POdemos ver 5 columnas aleatorias

In [91]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5829,2013-03-13 00:00:00,1V,US,2c652e6a9336758534f2a23fa8001315,5dbcc2a56867a77dd2c6d5abeed73353,64b2d6402e66d90677104fa478281498,2013-03-13 00:00:00,107872,0,JFK,...,JFKPEK,MK,K,Y,2013-06-20 16:50:00,2013-06-21 18:32:27,1,2013,3,NULL
1628,2013-03-04 00:00:00,1P,US,0a6c62b3656c96bb9ca095e0c61d841f,2bffc5334b70bc4471e45b25708517cc,62c88483587dac55f15d475b7ff7c06c,2013-03-04 00:00:00,4511,0,PHL,...,ORDPHL,FD,S,Y,2013-04-25 09:45:00,2013-04-25 12:49:46,1,2013,3,NULL
1595,2013-03-18 00:00:00,1S,NO,e6591dd049e2b7eb28290a2542539d9d,a96d1f9ecd540b36a42ba5de9c076724,25b4ffc63b08da146a956608091b17b0,2013-03-18 00:00:00,3212,0,OSL,...,SVGOSL,DU,N,Y,2013-04-07 20:45:00,2013-04-07 21:57:02,1,2013,3,NULL
3610,2013-03-05 00:00:00,1V,CA,734f1b80ced221b3b8bb53a9838eeed1,dd4c489d51a84f1c40fe68146a4b9ec8,905d306ef0a53d8dba784f467ba981cf,2013-03-04 00:00:00,44817,0,YVR,...,LAOMNLYVR,AC,K,Y,2013-05-23 08:20:00,2013-05-23 17:12:31,3,2013,3,NULL
4038,2013-03-05 00:00:00,1P,US,4804033f441ee30d92980c8b2207e8ae,4868da7a1666bbbc5fe33d377690f8eb,59c5ac17112bab7853b34deb0d340a30,2013-03-04 00:00:00,4465,0,SNA,...,SNAATLBQK,NV,T,Y,2013-03-21 08:40:00,2013-03-21 20:56:03,1,2013,3,NULL

VEmos que no estamos viendo todas las columnas. No lo está indicando pandas con (...)

Hya una opción de pandas donde se puede definir el numero de columnas que queremos visualizar. COn None no marcamos limites

In [92]:
pd.set_option("display.max_columns", None)

In [93]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
6140,2013-03-04 00:00:00,1G,NL,eb93d167ae132a6d7094f2a305724a42,8f3ef1041a50b8c7aaffac81c2c14887,218a6f20b85426823cd4092e7e74c309,2013-03-04 00:00:00,5741,0,AMS,AMS,NL,WUH,WUH,CN,AMS,AMS,NL,WUH,WUH,CN,AMS,AMS,NL,AMSWUH,AMSWUH,CNNL,1,WUHPVGAMS,UV,D,C,2013-03-22 08:00:00,2013-03-22 16:51:34,1,2013,3,NULL
4508,2013-03-13 00:00:00,1V,CA,a6275f6fc9a6e1d7e58fa222b3f56c09,a4ad0c23a05a1117442fbf85a3f35ce8,c75855af0c2b7cf4b16aa4bea12c1622,2013-03-13 00:00:00,39644,0,YVR,YVR,CA,TLV,TLV,IL,YVR,YVR,CA,YVR,YVR,CA,FCO,ROM,IT,FCOYVR,ROMYVR,CAIT,1,YVRYYZFCO,KK,K,Y,2013-09-30 07:00:00,2013-10-01 07:42:56,1,2013,3,NULL
8200,2013-03-27 00:00:00,1A,US,09da235d39c81db859876b362201bc86,0d18b9316c165df73b070d36a0710c66,f78fe00cfefcab0dff0c7a9a8e95d2c1,2013-03-27 00:00:00,8897,0,BRU,BRU,BE,MIA,MIA,US,BRU,BRU,BE,BRU,BRU,BE,MIA,MIA,US,BRUMIA,BRUMIA,BEUS,1,BRULHRMIA,KK,M,Y,2013-05-06 06:50:00,2013-05-06 13:54:29,1,2013,3,EWR6N2100
3462,2013-03-01 00:00:00,1A,DZ,802acf0c06dd20276e3bd97680dde029,8bcb53aef3f3930f29bdc8bb53e0087c,67aa36b72dd0a1013627b63a4fc9ec29,2012-12-11 00:00:00,130937,0,ALG,ALG,DZ,GLA,GLA,GB,ALG,ALG,DZ,GLA,GLA,GB,ALG,ALG,DZ,ALGGLA,ALGGLA,DZGB,1,GLALGWALG,LK,O,Y,2013-04-29 06:45:00,2013-04-29 11:52:55,-1,2013,3,NULL
1885,2013-03-22 00:00:00,1S,LB,efb3d196b779fe984d4d05109593de4e,d47e8b4e5fddb0499387b2f63880845a,36fe94664b265c03b1142247a2740d33,2013-03-13 00:00:00,7149,0,BEY,BEY,LB,LIN,MIL,IT,BEY,BEY,LB,BEY,BEY,LB,LIN,MIL,IT,BEYLIN,BEYMIL,ITLB,1,BEYFCOLIN,KK,L,Y,2013-04-10 16:15:00,2013-04-10 21:21:15,-1,2013,3,NULL

QUe representa esta table? Son bookings pero no tenemos idnea de como se ha creado. Este dataset si el tkiempo entre las conexiones de vuelos es mayor a 8 horas, crea una linea por cada destino. Si es menor a 8 horas, los une en una sola linea.
Vemos por ejemplo que tenemos activity date que tiene fecha y hora siempre a cero. Es cuando se ha hecho esta actividad
Cration Data que es cuando se ha hehco la reserva
SOurce indica de donde viene la reserva
pos_ctry es el point of sale
pos_iata
pos_office id
rloc es record locate es el codigo de reserva
Estos codigos de arriba se llama hashing es decir, que se ha cogido codigo, se ha pasado por un algoritmo y ha devuelto un codigo hexadecimal, pero no puedes ver como se ha generado, es decir, no puedes ver que hay detras, dando  anonimato. PEro algunos rloc son compartidos si son de la misma persona.
duration es la fecha del primer vuelo y del ultimo
distance es 0 si es de ida y vuelta

Voy a intentar agrupar por rloc

In [95]:
b.groupby("rloc")["act_date"].count().sort_values(ascending=False)

KeyError: 'rloc'

In [ ]:
Pero me da un Keyerror por rloc, diciendo que no existe. Eso se debe a que el nombre de rloc NO ESTÁ BIEN PUESTO PORQUE TIENE ESPACIOS EN BLANCO

In [112]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [99]:
b.groupby("rloc          ")["act_date           "].count().sort_values(ascending=False)

rloc
ae15bcfc5aec0eb64b2c5204d08201d5    42
fb72a3899ed1cd353c5830388935e7f5    23
cd96f7b7fdb5743769053ba273c7eb5f    20
6b7878dd4ac59772e14ab4760ab45ad0    20
68aee71ee0f40aff44ed341f2c5f8627    16
2a86eac3e29c922f4a439fbc0480985b    15
58ee9c6852513816a39363a1621a0615    14
503d8dde8034a48c262b3f5764fc60ca    14
c9f19404e4f0755c40deaebd6e90ea84    13
182485c12b7e38aa6e2d24f7484c019b    12
cdf795b1e5710dc813c8b1147b427827    12
f3a5185d14eaa5258320bac03c5d9fc0    12
02ab3e3ded19a8cc6eb67c4413debb86    12
b8410227afd9eff71f9ed9c0e7013ddf    12
045e1c73107a2e4a39013d60e9b45aa3    12
a37584d1485cb35991e4ff1a2ba92262    12
f25cef4ed37d1483d0c4c7cfba9758ef    12
b0cd490450b69694ccafe0e08dfd821f    11
bab3d4e3fb3bee5e88340e7c359c6f13    11
2da897a9523b22f3e2cb9cd7099e0639    11
399664d8282d0587ce97c540d17eb06c    11
b0f878b0bbe51626016694032523295b    10
1e891061725828651e3e2943b79c6585    10
49edae7a10b0a8e2b2529ecc45e5dc74    10
45b87519d2fe4e85fd90512876fe9160    10
a27c351c883ed90eee5bbb3d6d7630a0    10
0f39957f4a0e1807569b6b225339be20    10
331057704850c01e06a5b78955e79d54    10
5bcefe9de9ad29279e63acee633b49f2    10
63986e1306ebb0ee132b55eff80c0eb6    10
                                    ..
bf322cb6b4227ad170f2fefe50ae567f     1
34d3d66e42074ff45784be6deb7f16da     1
391038e95fcb12d2b01487fa80be8221     1
397517c7d116951afb8f7f08d709949b     1
3da38478eb52cac1a99dd1503fccb568     1
397a1ee52d4f7103173ea037bbe1ac8a     1
3d8fada706a9ca0260352efc4cdd7f08     1
3d49d38ea5c32fe59e9c13649f9be865     1
3d4187b84e6811b84481f1749772e513     1
b5ddc7527dccb3bdbc1ed449484fbcc5     1
b6011a0abd99d6c15d7d1222f976c17d     1
b6984e611e2ebfcac6b3da2524742b08     1
b74da5328b5a0db04fbfd049627f749a     1
3befbd72a3460408f8a3779a10fadf30     1
b815c93eb58117183b49198ada09c1c1     1
3b8d8cef2e03a151bdb98d5ab41f9f16     1
3b5711205e09a97e515c9cd99b8869bc     1
3b4d27084bfc4c685973cd071a051a37     1
b8e7c1924d0afc38cb2492d0bd43f93a     1
b91be442636902db4abe308f48f04b2c     1
3acd1df32d7e7c1f925efca9868706e2     1
b948604ba2177e3e23935c22abc7f847     1
b94ed12e5e01faf3536ab57974b886db     1
3a7da4866fbb53df2bf0fd932f630006     1
3a25425e33d36b4fb2296f2dbea0f1d9     1
b9efbbff405155837367ef66c1abf91b     1
39dc5cea9a3fc845b090f8331668c497     1
ba365fe0be400727781352f471929845     1
ba480737c4cec15f2c4bb8e9f5a2f745     1
80a2bcbc1770ca3d31657af2cbb1eb3b     1
Name: act_date           , Length: 3638, dtype: int64

In [ ]:
Y veo que tengo una columna repetida 42 veces. Es raro, Voy a investigar

In [100]:
b[b["rloc          "]=="ae15bcfc5aec0eb64b2c5204d08201d5"].sort_values("act_date           ",ascending=False)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
8010,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
8009,2013-03-30 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8008,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
8007,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
8006,2013-03-25 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,16396,12823,JFK,NYC,US,JNB,JNB,ZA,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
8005,2013-03-23 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
8003,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
8002,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
8001,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
8004,2013-03-22 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
8000,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7999,2013-03-18 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7998,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7997,2013-03-16 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7996,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7995,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7994,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7993,2013-03-15 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7991,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7992,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7990,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7989,2013-03-14 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7988,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7763,2013-03-11 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7762,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7761,2013-03-09 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7757,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL
7760,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7759,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7758,2013-03-08 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7754,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,-2,2013,3,NULL
7753,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7756,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,2,2013,3,NULL
7755,2013-03-07 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,2,2013,3,NULL
7752,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7751,2013-03-04 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,-2,2013,3,NULL
7750,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPT,CPT,ZA,JNB,JNB,ZA,CPTJNB,CPTJNB,ZAZA,0,CPTJNB,DK,Q,Y,2013-06-09 15:10:00,2013-06-09 17:27:39,2,2013,3,NULL
7749,2013-03-02 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,-2,2013,3,NULL
7747,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,CPT,CPT,ZA,LAX,LAX,US,CPTLAX,CPTLAX,USZA,1,CPTJNBFRALAX,VR,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,2,2013,3,NULL
7746,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,ZRH,ZRH,CH,JNB,JNB,ZA,JNBZRH,JNBZRH,CHZA,1,ZRHJNB,VI,W,Y,2013-07-22 22:45:00,2013-07-23 09:26:54,-2,2013,3,NULL
7748,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,63307,0,CPT,CPT,ZA,LAX,LAX,US,CPT,CPT,ZA,ZRH,ZRH,CH,CPT,CPT,ZA,CPTZRH,CPTZRH,CHZA,1,ZRHJNBCPT,VI,W,Y,2013-07-22 22:45:00,2013-07-23 14:17:39,2,2013,3,NULL
7745,2013-03-01 00:00:00,1P,ZA,9782cc0d8e04d24e7346699ea97d5f90,63dd6e471fa135a362bb8f9320190247,ae15bcfc5aec0eb64b2c5204d08201d5,2012-12-21 00:00:00,62781,0,JNB,JNB,ZA,LAX,LAX,US,JNB,JNB,ZA,JNB,JNB,ZA,LAX,LAX,US,JNBLAX,JNBLAX,USZA,1,JNBFRALAX,VR,Q,Y,2013-06-09 19:05:00,2013-06-10 12:55:31,-2,2013,3,NULL

SI con los resultados objetivos comparo el activity date con el creation date veo que son fechas diferentes asi que veo que hay algo anterior que no estoy obteniendo

Con describe all puedo ver algo de todas esas columnas no solo de la de caracter numerico y puedo ver qiue el rloc que mas se repite es ese con una frecuencia de 42

In [102]:
b.describe(include="all")

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
count,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999.000000,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999,9999.000000,9999,9999,9999,9999,9999,9999,9999.000000,9999.0,9999.0,9999
unique,31,5,112,2089,2271,3638,140,NaN,NaN,581,554,127,663,634,152,581,550,126,770,732,162,781,744,162,3395,3223,926,NaN,6079,179,27,4,6416,7218,NaN,NaN,NaN,389
top,2013-03-12 00:00:00,1A,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,ae15bcfc5aec0eb64b2c5204d08201d5,2013-03-12 00:00:00,NaN,NaN,LAX,NYC,US,LHR,NYC,US,LAX,NYC,US,LAX,NYC,US,LAX,NYC,US,JEDKHI,JEDKHI,USUS,NaN,KHIJED,NV,Q,Y,2013-06-09 15:10:00,2013-06-10 12:55:31,NaN,NaN,NaN,NULL
freq,768,3200,4839,435,435,42,1018,NaN,NaN,273,507,4600,212,391,3738,281,502,4559,228,435,4118,247,460,4170,52,52,3074,NaN,26,1354,851,8979,21,21,NaN,NaN,NaN,8427
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20209.746075,455.608861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.596260,NaN,NaN,NaN,NaN,NaN,NaN,0.516152,2013.0,3.0,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42243.233482,1738.891068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.490671,NaN,NaN,NaN,NaN,NaN,NaN,1.783970,0.0,0.0,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-25.000000,2013.0,3.0,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3339.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,2013.0,3.0,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7721.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19077.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2013.0,3.0,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488131.000000,18481.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,2013.0,3.0,NaN

Puedo ver el tipo de los elementos mediante info

In [107]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [ ]:
Puedo ver si hay nulos en los primeros 10.000, que es mi muestra. Es decir, no hay NAN

In [111]:
b.isnull().sum()

act_date               0
source                 0
pos_ctry               0
pos_iata               0
pos_oid                0
rloc                   0
cre_date               0
duration               0
distance               0
dep_port               0
dep_city               0
dep_ctry               0
arr_port               0
arr_city               0
arr_ctry               0
lst_port               0
lst_city               0
lst_ctry               0
brd_port               0
brd_city               0
brd_ctry               0
off_port               0
off_city               0
off_ctry               0
mkt_port               0
mkt_city               0
mkt_ctry               0
intl                   0
route                  0
carrier                0
bkg_class              0
cab_class              0
brd_time               0
off_time               0
pax                    0
year                   0
month                  0
oid                    0
dtype: int64

In [ ]:
Vamos a elegir ahora las columna de interés. Por el enunciado del ejercicio nos quedamos con arrival_port, pax, year.
VAmos a abrir el fichero solo con estas tres columnas
Cda vez que lo cojo de nrows lo hacemos desde el principio pero veremos que con chunk va a cambiar

In [119]:
import pandas as pd
pd.set_option("display.max_columns", None)
b = pd.read_csv("bookings.csv.bz2", 
                sep="^", nrows = 9999,
                usecols=["arr_port","pax","year"])

#Vemos qué hacemos con los nulls. LOs vamos a eliminar si son nulos. AHora mismo no hace nada pero puede que en un futuro haga algo
b = b.dropna()

In [120]:
b.shape

(9999, 3)

In [121]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

Comenzamos con el plan de acción

In [142]:
b[b.loc[:,"year"] == 2013].groupby("arr_port").sum().sort_values("pax", ascending=False).head(10)["pax"]

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
LAX          91
SFO          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

Veo que arr_port es ahora un index. Si quisiera sacarlo fuera como una columna haría un reset index

In [145]:
b[b.loc[:,"year"] == 2013].groupby("arr_port").sum().sort_values("pax", ascending=False).reset_index().head(10)[["arr_port","pax"]]

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

Con los chunks lo que vamos a hacer es partir nuestra muestra de 10.000 en trocitos e ir sumando resultados, para que se pueda trabajar en datasets más grandes. Eso es hacerlo en chunks

## CHunks

Recordemos el código anterior

In [156]:
#Chunks
import pandas as pd
pd.set_option("display.max_columns", None)
b = pd.read_csv("bookings.csv.bz2", 
                sep="^", nrows = 9999,
                usecols=["arr_port","pax","year"])

#Vemos qué hacemos con los nulls. LOs vamos a eliminar si son nulos. AHora mismo no hace nada pero puede que en un futuro haga algo
b = b.dropna()
b=b[b["year"]==2013]
del b ["year"]
b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False)
b_gr.reset_index(inplace=True)
b_gr.head(10)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

In [160]:
type(b)

pandas.core.frame.DataFrame

Ahora cmabio el codigo y simplemente pongo iterator = True en el codigo de read_csv

In [183]:
#Chunks
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, iterator = True)

In [184]:
type(bi)

pandas.io.parsers.TextFileReader

Ahora veo con el tipo que ya no es un dataFrame, sino un parser

Hay dos maneras de trabajr con los chunks: una en la que no definimos el tamaño de chunks y otra en la que si. En esta no esta definido el tamaño de chunks.

In [185]:
b = bi.get_chunk(3000)

In [186]:
type(b)

pandas.core.frame.DataFrame

AHora con esto ya si nos devuelve un dataframe. Es decir, con el iterator=True creamos la comunicación y con get_chunk hacemos el training.

In [188]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

Con el iterator, coloca el puntero y cuando volvamos hacer head nos colocará el puntero sobre donde se ha quedado.

No pasa nada si el iterator es mayor al archivo la ñprimera vez, pero si volvemos a ejecutar, nos dará un error de que se ha situado en el final y no puede hacerlo más

Otra manera es poniendo el chunksize de antemano. EN cuyo caso no hace falta poner iterator=True porque ya asimila que existe

In [193]:
#Chunks
#Chunks
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, chunksize=3000, iterator = True)

El codigo de debajo va hacer un bucle para cada chunk, metiendo los resultados en b. devuelve 4 i porque como nuestro dataset es de 10000 y el chunk es de 3000, tiene que hacer 4 chunks.
Cada b es un dataframe

In [194]:
for i, b in enumerate(bi):
    print(i)
    print(len(b))

0
3000
1
3000
2
3000
3
999

EL codigo de debajo funciona, pero no nos va  aguardar nada porque no hemos pedido que guarde los dataframse

In [ ]:
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, chunksize=3000, iterator = True)


for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b=b[b["year"]==2013]
    del b ["year"]
    b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False).reset_index()
    b_gr.head(10)

In [ ]:
Por ello vamos a crear un dataframe vacio que guarde los resultados de todos los chunks, pero vamos a quitar el head, ya que no nosinteresa eso, nos interesa el resultado de todo. El head lo metremos al final

In [202]:
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, chunksize=3000, iterator = True)

all_chunks=pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b=b[b["year"]==2013]
    del b ["year"]
    b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False).reset_index()
    all_chunks=all_chunks.append(b_gr)

0
1
2
3

In [203]:
all_chunks.shape

(1344, 2)

Tiene sentido, pero ahora tenemos 4 chunks. Para tener el resultado final tenemos que volver a agrupar, todos los resultados pero fuera del iterador

In [222]:
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, chunksize=3000, iterator = True)

all_chunks=pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b=b[b["year"]==2013]
    del b ["year"]
    b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False).reset_index()
    all_chunks=all_chunks.append(b_gr)
    
all_result=all_chunks.groupby(["arr_port"]).sum().sort_values("pax", ascending=False).reset_index()

0
1
2
3

In [223]:
all_result.head(10)

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91
5  SFO        91
6  MCO        90
7  DCA        82
8  DEN        79
9  LHR        76

Ojo con el reset index. Dependiendo de donde lo ponga tengo que poner inplace=True o no poner nada. COmo en el iterador de abajo está en otra línea y quiero que me lo cmabie, tengo que poner inplace=True

In [224]:
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                nrows = 9999, chunksize=3000, iterator = True)

all_chunks=pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b=b[b["year"]==2013]
    del b ["year"]
    b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False)
    b_gr=b_gr.reset_index(inplace=True)
    all_chunks=all_chunks.append(b_gr)
    
all_result=all_chunks.groupby(["arr_port"]).sum().sort_values("pax", ascending=False).reset_index()

0
1
2
3

KeyError: 'arr_port'

In [ ]:
Voy a comenzar a implementarlo: aumentar ahora el chunksizze, añado time y quito el nrwos

In [225]:
%%time
import pandas as pd
pd.set_option("display.max_columns", None)
bi = pd.read_csv("bookings.csv.bz2", 
                sep="^",
                usecols=["arr_port","pax","year"],
                chunksize=1000000, iterator = True)

all_chunks=pd.DataFrame()
for i, b in enumerate(bi):
    print(i)
    b = b.dropna()
    b=b[b["year"]==2013]
    del b ["year"]
    b_gr=b.groupby("arr_port").sum().sort_values("pax", ascending=False).reset_index()
    all_chunks=all_chunks.append(b_gr)
    
all_result=all_chunks.groupby(["arr_port"]).sum().sort_values("pax", ascending=False).reset_index()

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 1min 55s, sys: 2.81 s, total: 1min 58s
Wall time: 1min 55s

In [226]:
all_result.head(10)

   arr_port      pax
0  LHR       88809.0
1  MCO       70930.0
2  LAX       70530.0
3  LAS       69630.0
4  JFK       66270.0
5  CDG       64490.0
6  BKK       59460.0
7  MIA       58150.0
8  SFO       58000.0
9  DXB       55590.0

Vamos con el bonus (Geobase/Neobases)

In [233]:
! pip install Neobase

Collecting Neobase
  Downloading https://files.pythonhosted.org/packages/d8/f2/0ca4a5818f8271f7c6d59bb336c28db931e22b51330947983be86ba4ea12/NeoBase-0.20.2.tar.gz (3.2MB)
    100% |████████████████████████████████| 3.2MB 1.7MB/s
Collecting argparse (from Neobase)
  Downloading https://files.pythonhosted.org/packages/f2/94/3af39d34be01a24a6e65433d19e107099374224905f1e0cc6bbe1fd22a2f/argparse-1.4.0-py2.py3-none-any.whl
Building wheels for collected packages: Neobase
  Running setup.py bdist_wheel for Neobase ... done
  Stored in directory: /home/dsc/.cache/pip/wheels/f2/e0/a1/798ba3be3b5e9d00394376068d895114f574c06f6954dafc59
Successfully built Neobase
Installing collected packages: argparse, Neobase
Successfully installed Neobase-0.20.2 argparse-1.4.0

In [234]:
import neobase as nb

In [235]:
from neobase import NeoBase

In [236]:
geoDict=NeoBase()

In [237]:
type(geoDict)

neobase.neobase.NeoBase

In [238]:
geoDict.get("LHR")

{'__dup__': set(),
 'iata_code': 'LHR',
 'name': 'London Heathrow Airport',
 'lat': '51.4775',
 'lng': '-0.461389',
 'page_rank': 0.44517643489228376,
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'continent_name': 'Europe',
 'timezone': 'Europe/London',
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'location_type': ['A'],
 'currency': 'GBP'}

In [239]:
type(geoDict.get("LHR"))

dict

In [ ]:
Vemos que es un diccionario

In [241]:
geoDict.get("LHR").keys()

dict_keys(['__dup__', 'iata_code', 'name', 'lat', 'lng', 'page_rank', 'country_code', 'country_name', 'continent_name', 'timezone', 'city_code_list', 'city_name_list', 'location_type', 'currency'])

In [242]:
geoDict.get("LHR")["name"]

'London Heathrow Airport'

Vamos a cruzarlo con all_results

Pero a partir de aquí comienzan los problemas...

In [243]:
all_result["arr_port"][0]

'LHR     '

Vemos que hay un espacio en blanco

In [244]:
all_result["arr_port"][0].strip()

'LHR'

In [249]:
Lo vamos a convertir eliminando los espacios en blanco:

SyntaxError: invalid syntax (<ipython-input-249-50cf2bc69fb3>, line 1)

In [246]:
all_result["arr_port"]=all_result["arr_port"].str.strip()

In [250]:
all_result["arr_port"][0]

'LHR'

Pero que pasa cuando hay espacios en blanco en medio¿?

In [251]:
"        kadjnkfk    dfbjsdfb  hf hdfd jk      sdfsdf            ".strip()

'kadjnkfk    dfbjsdfb  hf hdfd jk      sdfsdf'

In [ ]:
Pero volcamos al ejercicio. Vamos a llamar a cada elemento y busquemos su nombre en el diccionario de NEobases incorporando una nueva columna

In [262]:
all_result["AirportNAme"]=all_result["arr_port"].map(lambda x: geoDict.get(x)["name"])

KeyError: 'Key not found: CPQ'

In [ ]:
Pero nos da un error, que significa que el aeropuerto CPQ no aparezca

In [265]:
all_result[all_result["arr_port"]=="CPQ"]

     arr_port   pax
2257      CPQ -20.0

In [266]:
all_result=all_result[all_result["arr_port"]!="CPQ"]

In [267]:
all_result["AirportNAme"]=all_result["arr_port"].map(lambda x: geoDict.get(x)["name"])

/home/dsc/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [268]:
all_result.head(10)

  arr_port      pax                            AirportNAme
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [ ]:
Veo que pax me lo suelta en modo float pero es un integer, asi que lo cambio

In [271]:
all_result=all_result.astype({"pax":int})

In [275]:
all_result.head(10)

  arr_port    pax                            AirportNAme
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport
5      CDG  64490        Paris Charles de Gaulle Airport
6      BKK  59460                   Suvarnabhumi Airport
7      MIA  58150            Miami International Airport
8      SFO  58000    San Francisco International Airport
9      DXB  55590            Dubai International Airport

In [272]:
all_result.shape

(2273, 3)

In [ ]:
Lo exporto

In [274]:
all_result.to_csv("top_airports.csv", sep="^", index=False)

In [276]:
ls

bookings.csv.bz2         searches.csv.bz2  Untitled1.ipynb
bookings_sample.csv.bz2  top_airports.csv  Untitled.ipynb

In [ ]:
Compruebo que se ha guardado bien

In [277]:
! head -2 top_airports.csv

arr_port^pax^AirportNAme
LHR^88809^London Heathrow Airport

Vamos al ejercicio 5.
Hay que escribir un webservice

Hay que crear un JSON que es un formato texto pero con estructura de datos y sirve para intercambiar información.
DJango es una estructura de WebService pero muy compleja. SE puede usar flusk
Que es un web service? Una especie de app. Python es un webservice y se ejecuta en local (localhost), pero el web service puede ser

In [279]:
from flask import Flask

app = Flask("My first web service")
@app.route("/hello", methods=["GET"])
# GET    The browser tells the server to just get the information stored
def get_hello():
    return "Hello DS from the service!"

In [ ]:
app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2020 13:32:27] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:32:27] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:37:43] "GET /hello HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 13:37:49] "GET /ret_number HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:38:00] "GET /ret_number HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:40:02] "GET /hello HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 13:40:02] "GET /favicon.ico HTTP/1.1" 404 -

In [ ]:
Le estoy diciendo que la ruta (la de jupyter es localhost:888) yo le estoy diciento que sea hello
Y dentro de la aplicacion

In [ ]:
Así si ponemos lo que pone running on: + hello nos mostrará lo que quere,ps

In [ ]:
http://127.0.0.1:5000/hello

In [ ]:
from flask import Flask

app = Flask("My first web service")
@app.route("/hello", methods=["GET"])
# GET    The browser tells the server to just get the information stored
def get_hello():
    return "Hello DS from the service!"

#COn el codigo de debajo digo que en esa ruta estoy esperado un numero de tipo integer de nomvre n que voy a indicar abajo
@app.route("/ret_number/<int:n>", methods=["GET"])
def get_number(n):
    return "I got %d"%n

app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2020 13:40:44] "GET /ret_number10 HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:40:48] "GET /ret_number_10 HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2020 13:40:57] "GET /ret_number/10 HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 13:45:02] "GET /ret_number/10 HTTP/1.1" 200 -
127.0.0.1 - - [25/Jan/2020 13:45:02] "GET /favicon.ico HTTP/1.1" 404 -

In [ ]:
Si escribo en mi navegador: http://127.0.0.1:5000/ret_number/10

In [ ]:
Me devolverá I got 10