## Web service

- Vamos a importar lo datos desde el web service creado.
- Esto quiere decir que si sabemos d√≥nde conectarnos, a determinadas APIS, podemos cargarlo directamente a Python y crear un data frame.

In [1]:
import pandas as pd

In [16]:
df = pd.read_json("http://127.0.0.1:5000/ret_number/10")

In [17]:
df.head()

  arr_port    pax                            AirportNAme
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport